@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  place-content: center;
  place-items: center;
  box-shadow: inset;
}
.container {
  display: flex;
  background-color: hsl(0, 0, 100%);
  border-radius: 20px;
  box-shadow: 5px 7px 20px hsl(241, 100%, 89%);

  .left-section {
    width: 250px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 30px 10px;
    border-radius: 20px;
    background-image: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );

    & h4 {
      color: hsl(241, 100%, 89%);
      font-size: 16px;
      font-weight: 500;
    }

    .fitness {
      background-image: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      border-radius: 150px;
      width: 120px;
      height: 120px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      place-items: center;
      place-content: center;
      padding: 10px;

      & h1 {
        font-size: 50px;
        font-weight: 800;
      }
      & h5 {
        color: hsl(241, 100%, 89%);
        font-size: 16px;
      }
    }
    & h3{
        font-size: 20px;
        font-weight:700 ;
    }
    & p{
        font-weight: 500;
        color:hsl(241, 100%, 89%) ;
        font-size: 16px;
        padding: 0 10px;
        margin: 12px 0 15px;
    }
  }

  .right-section{
    width: 320px;
    padding: 30px 0px;
    margin: 0px 0 0 40px ;
  }
}
