@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  place-content: center;
  place-items: center;
  box-shadow: inset;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-items: center;
}
.me-4 {
  margin-left: 7px;
}
.container {
  display: flex;
  background-color: hsl(0, 0, 100%);
  border-radius: 20px;
  box-shadow: 5px 7px 20px hsl(241, 100%, 89%);

  .left-section {
    width: 250px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 30px 10px;
    border-radius: 20px;
    background-image: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );

   
  }
.left-section h4 {
      color: hsl(241, 100%, 89%);
      font-size: 16px;
      font-weight: 500;
    }

    
   .left-section h3 {
      font-size: 20px;
      font-weight: 700;
    }
   .left-section p {
      font-weight: 500;
      color: hsl(241, 100%, 89%);
      font-size: 16px;
      padding: 0 10px;
      margin: 12px 0 15px;
    }
  .left-section .fitness {
      background-image: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      border-radius: 150px;
      width: 120px;
      height: 120px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      place-items: center;
      place-content: center;
      padding: 10px;

     
    }
     .left-section .fitness h1 {
        font-size: 50px;
        font-weight: 800;
      }
      .left-section .fitness h5 {
        color: hsl(241, 100%, 89%);
        font-size: 16px;
      }

  .right-section {
    width: 320px;
    padding: 30px 30px;

    & h4 {
      font-size: 18px;
      color: hsl(224, 30%, 27%);
      font-weight: 700;
    }

  
  }
}

  .reaction {
      display: flex;
      justify-content: space-between;
      background-color: rgba(255, 85, 85, 0.103);
      padding: 10px 15px;
      border-radius: 5px;
      margin: 21px 0 16px;

      & h3 {
        font-size: 16px;
        color: rgb(254, 70, 70);
        font-weight: 800;
      }

      & h6 {
        font-size: 16px;
        color: hsla(226, 33%, 17%, 0.943);
        font-weight: 800;
      }

      & p {
        margin-left: 3px;
        font-size: 16;
        color: hsla(224, 30%, 27%, 0.679);
        font-weight: 600;
      }
    }
    .memory {
      display: flex;
      justify-content: space-between;
      background-color: #ffb01e20;
      padding: 10px 15px;
      border-radius: 5px;

      & h3 {
        font-size: 16px;
        color: #FFB21E;
        font-weight: 800;
      }

      & h6 {
        font-size: 16px;
        color: hsla(226, 33%, 17%, 0.943);
        font-weight: 800;
      }

      & p {
        margin-left: 3px;
        font-size: 16;
        color: hsla(224, 30%, 27%, 0.679);
        font-weight: 600;
      }
    }
    .verbal {
      display: flex;
      justify-content: space-between;
      background-color: #00bb8f1b;
      padding: 10px 15px;
      border-radius: 5px;
      margin: 16px 0;

      & h3 {
        font-size: 16px;
        color: #00BB8F;
        font-weight: 800;
      }

      & h6 {
        font-size: 16px;
        color: hsla(226, 33%, 17%, 0.943);
        font-weight: 800;
      }

      & p {
        margin-left: 3px;
        font-size: 16;
        color: hsla(224, 30%, 27%, 0.679);
        font-weight: 600;
      }
    }
    .visual {
      display: flex;
      justify-content: space-between;
      background-color: #1125d628;
      padding: 10px 15px;
      border-radius: 5px;

      & h3 {
        font-size: 16px;
        color: #1125D6;
        font-weight: 800;
      }

      & h6 {
        font-size: 16px;
        color: hsla(226, 33%, 17%, 0.943);
        font-weight: 800;
      }

      & p {
        margin-left: 3px;
        font-size: 16;
        color: hsla(224, 30%, 27%, 0.679);
        font-weight: 600;
      }
    }

    .btn-con{
      background-color: hsl(224, 30%, 27%);
      width: 100%;
      margin-top: 27px;
      padding: 17px ;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 50px;
    }

@media screen and (max-width: 375px) {
  .container {
  display: flex;
  flex-direction: column;
}
.left-section{
  width: 100% !important;

  & p{
    padding: 0px 42px  !important;
  }
}
.right-section{
  padding: 20px 20px !important;
}
}